{% extends "JOMANELCoreBundle::layout.html.twig" %}


{% block body %}

  <p>{{'contactSucces.1'|trans }}</p> {# Successful contact #} {# Contact réussi #}

  <p>
    <a href="{{ path('jomanel_core_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
		{{'contactSucces.2'|trans }} {# Back to the home page #}{#Retour à la page d\'accueil#}
    </a>
  </p>

{% endblock %}