{% extends "JOMANELCoreBundle::layout.html.twig" %}


{% block body %}

  <p>Successful contact</p>

  <p>
    <a href="{{ path('jomanel_core_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back to the home page
    </a>
  </p>

{% endblock %}