services:
    
    jomanel_platform.antispam:
        class: JOMANEL\PlatformBundle\AntiSpam\JOMANELAntiSpam
        arguments:
            - "@mailer" # Mailer service (to send e-mails) ;
            - %locale%  # to retrieve the language, defined in the file app/config/parameters.yml
            - 50

    #
    jomanel_platform.email: #.application_mailer:
        class: JOMANEL\PlatformBundle\Email\Mailer #ApplicationMailer
        arguments:
            - "@mailer"
            - "@service_container"
           

    
    jomanel_platform.doctrine_listener.application:
        class: JOMANEL\PlatformBundle\DoctrineListener\ApplicationListener #ApplicationCreationListener 
        arguments:
            - "@jomanel_platform.email" #, "@jomanel_platform.validator.antiflood"
        tags:
            - { name: doctrine.event_listener, event: postPersist } 
            

    jomanel_platform.purger.advert:
        class: JOMANEL\PlatformBundle\Purger\AdvertPurger
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@service_container"
    
    ##
    #jomanel_platform.beta.html_adder:
    #    class: JOMANEL\PlatformBundle\Beta\BetaHTMLAdder
    
    #jomanel_platform.beta.listener:
    #    class: JOMANEL\PlatformBundle\EventListener\BetaListener
    #    arguments:
    #       - "@jomanel_platform.beta.html_adder"
    #        - "2017-11-20"
    #    tags:
    #        - { name: kernel.event_listener, event: kernel.response, method: processBeta }
    


  


