.navbar-custom {
    background-color:#00008B;
    color:#ffffff;
    border-radius:2px;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #00BFFF;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}

.navbar-custom .icon-bar {
    background-color:#0000FF;
}

/*****************/
.footer {
  background-color:#00008B;
  height:45px;
  padding:10px;
  /*border-top:1px solid #ABABAB;*/
  position:fixed;
  /*left:10;*/
  bottom:0;
  width:100%;
  border-radius:2px;
}
