
{% extends "JOMANELPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>{{ 'category.add.1'|trans}}</h2>{# Ajouter une catégorie #}

  {{ include("JOMANELPlatformBundle:Category:form.html.twig") }}


{% endblock %}